In [1]:
import pandas as pd
import datetime as date
import re
#loading dataset
df=pd.read_excel('Data.xlsx')
# print(df)
# df

# reading row
# print(df.head(10))
# print(df.iloc[0:10])

# reading row using loop 

# for index, row in df.iterrows():
#     print(index,row)
    
# for index, row in df.iterrows():
#     print(index,row['Nationality'])

# reading column
# print(df.columns)

# read each column
# print(df['Nationality'])
# print(df[['Nationality','title']])

# read column by range from 0-10
# print(df['Nationality'][0:10])
# print(df[['Nationality','title']][0:10])

# read specific value by iloc[row,column]
# print(df.iloc[10,7])

# filtering
# df.loc[df['Nationality']=='Ethiopia']
# df.describe()

# sorting 
# df.sort_values(['Nationality'])
# df.sort_index()

# #drop column 
# NewDataFm=df.drop(columns='Age')
# NewDataFm

# #adding column 
# NewDataFm['Test']='Value'
# we can add aggregated value like sum of specific column
# NewDataFm['Total']=df.iloc[:,4:10].sum(asis=1)
# NewDataFm

# saving data 
# df.to_excel('File name.xlsx')
# df.to_excel('File name.xlsx', index=False)

# Advanced filtering Data

In [2]:
# when use condtional and we only use the symbole & and for or |
# df.loc[(df['Nationality']=='Ethiopia') & (df['gender']=='F')]
# new_df=df.loc[(df['Nationality']=='Ethiopia') & (df['gender']=='F')]
# new_df

# when we want to save new data set it saves the existing index so to add new index we use 
# new_df=new_df.reset_index()
# new_df

# if we want to remove the existing index
# new_df=new_df.reset_index(drop=True)
# new_df

# if we want to filter specfic string in the data set 
#import datetime as date

# #filter date of birth is greater than 2000
# df.loc[df['dateOfBirth'] > date.datetime(2000,10,10)]

# #filter date fo birth is greater than 200 and gender is female 
# df.loc[(df['dateOfBirth'] > date.datetime(2000,10,10) )& (df['gender']=='F')]

# Condtional change or modification

In [3]:
# change class of service from Economic class to Economic
# df.loc[df['cabin_class of service'] == 'Economy Class','cabin_class of service']='Economy'

# Aggregate statistics (groupby)

In [4]:
df=pd.read_excel('Data.xlsx')

# mean
# it works for miles because there is only mile attrbute is measureble
# df.groupby('cabin_class of service').mean()
# df.groupby('cabin_class of service').mean().sort_values('miles',ascending=False)

#sum
#df.groupby('cabin_class of service').sum()

#count
# df.count()
# df.groupby('cabin_class of service').count()
# df.groupby(['cabin_class of service','gender','Reservation Status']).count()
# df.groupby('Fligth_ID').count()

# Data cleaning and Modification

In [59]:
# Age calculation
from datetime import date
 
def age(birthdate):
    today = date.today()
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
    return age

def replaceShortValue():
    for index, row in df.iterrows():
        df.iloc[index,4]=age(row['dateOfBirth'])
    df.loc[df['cabin_class of service'] == 'Economy Class','cabin_class of service']='Economy'
    df.loc[df['cabin_class of service'] == 'Business Class','cabin_class of service']='Business'
    
def replaceNullValue():
    df["title"].fillna("No title", inplace = True)
    df["gender"].fillna("No gender", inplace = True)
    df["Nationality"].fillna("No Nationality", inplace = True)
    df["dateOfBirth"].fillna("No dateOfBirth", inplace = True)
    df["Age"].fillna("No Age", inplace = True)
    df["miles"].fillna("No miles", inplace = True)
    df["Fligth_ID"].fillna("No Fligth_ID", inplace = True)
    df["cabin_class of service"].fillna("No cabin_class", inplace = True)
    df["Reservation Status"].fillna("No Reservation Status", inplace = True)
    df["Date_of_Reservation"].fillna("No Date_of_Reservation", inplace = True)
    df["Date_of_Cancelation"].fillna("No Date_of_Cancelation", inplace = True)
    df["Tiketed_Date"].fillna("No Tiketed_Date", inplace = True)
    df["Ticket First time Use"].fillna("No Ticket First time Use", inplace = True)
    df["Rescheduled_Date"].fillna("No Rescheduled_Date", inplace = True)
    df["Refund Status"].fillna("No Refund Status", inplace = True)

def saveModifyData():
    df.to_excel('ModfideData.xlsx')
    
def completeAllTask():
    replaceShortValue()
    replaceNullValue()
    saveModifyData()
#completeAllTask()

# Aggregation for Modifyed Data

In [77]:
mdf=pd.read_excel('ModfideData.xlsx');
mdf.describe()

        Unnamed: 0          Age
count  1368.000000  1368.000000
mean    683.500000    37.837719
std     395.051895    13.326082
min       0.000000    14.000000
25%     341.750000    28.000000
50%     683.500000    35.000000
75%    1025.250000    44.000000
max    1367.000000    72.000000